<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Menú principal -->
    <menuitem id="menu_gestor_eventos_root"
              name="Gestión de Eventos"
              sequence="10"/>

    <!-- ======= MENÚ CONFIGURACIÓN ======= -->
    <menuitem id="menu_event_config_root"
              name="Configuración"
              parent="menu_gestor_eventos_root"
              sequence="90"/>

    <!-- Submenú Categorias -->
    <menuitem id="menu_event_category"
              name="Categorías"
              parent="menu_event_config_root"
              action="action_category_list"
              sequence="20"/>

    <!-- Submenú para etiquetas de eventos -->
    <menuitem id="menu_event_tag"
              name="Etiquetas"
              parent="menu_event_config_root"
              action="action_tag_list"
              sequence="30"/>

    <!-- Submenú para tipos de ticket -->
    <menuitem id="menu_ticket_type"
              name="Tipos de Ticket"
              parent="menu_event_config_root"
              action="action_ticket_type"
              sequence="40"/>

    <!-- ======= MENÚ EVENTOS ======= -->

    <!-- Menú padre de Eventos (sin acción directa) -->
    <menuitem id="menu_eventos"
              name="Eventos"
              parent="menu_gestor_eventos_root"
              sequence="10"/>

    <!-- Submenú Ver eventos -->
    <menuitem id="menu_eventos_ver"
              name="Eventos"
              parent="menu_eventos"
              action="action_event_event"
              sequence="10"/>


    <!-- ======= MENÚ ENTRADAS ======= -->

    <!-- Menú padre de Entradas (sin acción directa) -->
    <menuitem id="menu_ticket_root"
              name="Entradas"
              parent="menu_gestor_eventos_root"
              sequence="20"/>

    <!-- Submenú Ver entradas -->
    <menuitem id="menu_ticket_sub"
              name="Entradas/Tickets"
              parent="menu_ticket_root"
              action="action_ticket_list"
              sequence="10"/>

    <!-- ======= MENÚ ASISTENTES ======= -->

    <!-- Menú padre de Asistentes-->
    <menuitem id="menu_assistant_root"
              name="Asistentes"
              parent="menu_gestor_eventos_root"
              sequence="30"/>

    <!-- Submenú Asistentes-->
    <menuitem id="menu_assistant_sub"
              name="Asistentes"
              parent="menu_assistant_root"
              action="action_assistant_list"
              sequence="10"/>

    <!-- ======= MENÚ FINANZAS ======= -->
    <menuitem id="menu_finanzas"
              name="Finanzas"
              parent="menu_gestor_eventos_root"
              sequence="40"/>

    <!-- Submenú: Ingresos -->
    <menuitem id="menu_ingresos"
              name="Ingresos"
              parent="menu_finanzas"
              action="action_income_list"
              sequence="10"/>

    <!-- Submenú: Gastos -->
    <menuitem id="menu_gastos"
              name="Gastos"
              parent="menu_finanzas"
              action="action_expense_list"
              sequence="20"/>

    <!-- Submenú: Proveedores -->
    <menuitem id="menu_proveedores"
              name="Proveedores"
              parent="menu_finanzas"
              action="action_supplier_list"
              sequence="30"/>
</odoo>
