<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Menú principal -->
    <menuitem id="menu_gestor_eventos_root"
              name="Gestión de Eventos"
              sequence="10"/>

    <!-- ======= MENÚ EVENTOS ======= -->

    <!-- Menú padre de Eventos (sin acción directa) -->
    <menuitem id="menu_eventos"
              name="Eventos"
              parent="menu_gestor_eventos_root"
              sequence="10"/>

    <!-- Acción para vista de eventos -->
    <record id="action_event_event" model="ir.actions.act_window">
        <field name="name">Eventos</field>
        <field name="res_model">gestor.event</field>
        <field name="view_mode">list,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">
                Haz clic en crear para agregar un nuevo evento.
            </p>
        </field>
    </record>

    <!-- Submenú Ver eventos -->
    <menuitem id="menu_eventos_ver"
              name="Ver eventos"
              parent="menu_eventos"
              action="action_event_event"
              sequence="10"/>

    <!-- Submenú Categorias -->
    <menuitem id="menu_event_category"
              name="Categorías"
              parent="menu_eventos"
              action="action_category_list"
              sequence="20"/>

    <!-- ======= MENÚ ENTRADAS ======= -->

    <!-- Menú padre de Entradas (sin acción directa) -->
    <menuitem id="menu_ticket_root"
              name="Entradas"
              parent="menu_gestor_eventos_root"
              sequence="20"/>

    <!-- Acción para vista de entradas -->
    <record id="action_ticket_list" model="ir.actions.act_window">
        <field name="name">Entradas</field>
        <field name="res_model">gestor.ticket</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Submenú Ver entradas -->
    <menuitem id="menu_ticket_sub"
              name="Ver entradas"
              parent="menu_ticket_root"
              action="action_ticket_list"
              sequence="10"/>

    <!-- ======= MENÚ ASISTENTES ======= -->

    <!-- Menú padre de Asistentes-->
    <menuitem id="menu_assistant_root"
              name="Asistentes"
              parent="menu_gestor_eventos_root"
              sequence="30"/>

    <!-- Acción para vistas de asistentes -->
    <record id="action_assistant_list" model="ir.actions.act_window">
        <field name="name">Asistentes</field>
        <field name="res_model">gestor.assistant</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Submenú Asistentes-->
    <menuitem id="menu_assistant_sub"
              name="Ver asistentes"
              parent="menu_assistant_root"
              action="action_assistant_list"
              sequence="10"/>
</odoo>
